scipy
scikit-learn
opencv-python
opencv-contrib-python
tensorflow
keras_applications
tensorflow-model-optimization
matplotlib
tqdm
pillow
pycocotools
sympy
imgaug
imagecorruptions
bokeh
tidecv
tensorflow-addons
easydict